#firstname,
#lastname {
    margin-bottom: 40px;
}

form .text-danger {
    position: absolute;
    bottom: -25px;
}

.invalid {
    border-color: rgba(235, 14, 14, 0.8);
    box-shadow: 0 0px 0px rgba(255,0,0), 0 0 5px rgb(255, 0, 0);
    outline: 0 none;
}