.btn-danger,
.btn-secondary {
    display: inline-block;
    margin-left: 5px;
}

.card {
    max-height: 600px;
}

img {
    max-width: 300px;
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-secondary {
    width: 100px;
}
