<div class="pt-5">
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>The best people of the company</h4>
                <button mat-raised-button (click)="openDialog()" class="btn btn-warning">Add user</button>
            </div>

            <div class="card-body" *ngIf="!isError">
                <div *ngIf="isLoading; else displayTable" class="text-center">
                    <app-spinner :title="Saving" />
                </div>
                <ng-template #displayTable>
                    <table class="table tabl-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let i = index; let user of userForms | paginate: { itemsPerPage: 8, currentPage: p }"
                                [formGroup]="userForms[i]">
                                <td>
                                    <input name="firstname" formControlName="firstname" class="form-control"
                                        [class.invalid]="user.controls['firstname'].invalid">
                                </td>
                                <td>
                                    <input name="lastname" formControlName="lastname" class="form-control"
                                        [class.invalid]="user.controls['lastname'].invalid">
                                </td>
                                <td>
                                    <input name="email" formControlName="email" class="form-control"
                                        [class.invalid]="user.controls['email'].invalid">
                                </td>
                                <td>
                                    <input name="age" formControlName="age" class="form-control"
                                        [class.invalid]="user.controls['age'].invalid">
                                </td>
                                <td>
                                    <select name="gender" formControlName="gender" class="form-select">
                                        <option value="male">male</option>
                                        <option value="female">female</option>
                                    </select>
                                </td>
                                <td class="actions-btn">
                                    <button *ngIf="user.controls['firstname'].disabled"
                                        class="btn btn-primary d-inline-block mr-4"
                                        (click)="this.editing(user)">Edit</button>
                                    <button *ngIf="!user.controls['firstname'].disabled"
                                        class="btn btn-success d-inline-block mr-4"
                                        (click)="this.changeUser($event, user)">Save</button>
                                    <button *ngIf="user.controls['firstname'].disabled"
                                        (click)="this.removeUser($event, user.controls['_id'].value, i)" type="button"
                                        class="btn btn-danger">Delete</button>
                                    <button *ngIf="!user.controls['firstname'].disabled" (click)="this.close()"
                                        type="button" class="btn btn-secondary">Close</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
                </ng-template>
            </div>
            <div *ngIf="isError" class="text-center m-4">
                <h4 class="pb-3">Something went wrong, but here's a meme for you</h4>
                <img src="./../../../assets/photo1703530131.jpeg" alt="meme">
            </div>
        </div>
    </div>
</div>