<div class="pt-5">
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>The best people of the company</h4>
                <button mat-raised-button (click)="openDialog()" class="btn btn-warning">Add user</button>
            </div>

            <div class="card-body" *ngIf="!isError">
                <div *ngIf="isLoading; else displayTable" class="text-center">
                    <app-spinner :title="Saving" />
                </div>
                <ng-template #displayTable>
                    <table class="table tabl-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let user of this.users | paginate: { itemsPerPage: 8, currentPage: p }">
                                <td>
                                    <input type=" text" name="firstname" [readonly]="!user.isEditing"
                                        [(ngModel)]="user.firstname" required class="form-control">
                                </td>
                                <td>
                                    <input type="text" name="lastname" required [readonly]="!user.isEditing"
                                        [(ngModel)]="user.lastname" class="form-control">
                                </td>
                                <td>
                                    <input type="email" name="email" [readonly]="!user.isEditing"
                                        [(ngModel)]="user.email" class="form-control">
                                </td>
                                <td>
                                    <input type="number" name="age" [readonly]="!user.isEditing" [(ngModel)]="user.age"
                                        class="form-control">
                                </td>
                                <td>
                                    <select name="gender" [disabled]="!user.isEditing" [(ngModel)]="user.gender"
                                        class="form-select">
                                        <option value="male">male</option>
                                        <option value="female">female</option>
                                    </select>
                                </td>
                                <td class="actions-btn">
                                    <button *ngIf="!user.isEditing" class="btn btn-primary d-inline-block mr-4"
                                        (click)="this.editing(user)">Edit</button>
                                    <button *ngIf="user.isEditing" class="btn btn-success d-inline-block mr-4"
                                        (click)="this.changeUser($event, user)">Save</button>
                                    <button *ngIf="!user.isEditing" (click)="this.removeUser($event, user._id)"
                                        type="button" class="btn btn-danger">Delete</button>
                                    <button *ngIf="user.isEditing" (click)="this.close()" type="button"
                                        class="btn btn-secondary">Close</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>

                </ng-template>
            </div>
            <div *ngIf="isError" class="text-center m-4">
                <h4 class="pb-3">Something went wrong, but here's a meme for you</h4>
                <img src="./../../../assets/photo1703530131.jpeg" alt="meme">
            </div>
        </div>
    </div>
</div>